name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to container registry
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/nighthunter30/my-vite-project:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VM
        uses: appleboy/ssh-action@v1
        with:
          host: 24.199.126.148
          username: root
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            echo "Logging into GHCR..."
            docker login ghcr.io -u nighthunter30 -p ${{ secrets.GITHUB_TOKEN }}

            echo "Pulling latest image..."
            docker pull ghcr.io/nighthunter30/my-vite-project:latest

            echo "Stopping old container (if running)..."
            docker stop my-vite-app || true

            echo "Removing old container (if exists)..."
            docker rm my-vite-app || true

            echo "Starting new container..."
            docker run -d \
              --name my-vite-app \
              -p 80:80 \
              ghcr.io/nighthunter30/my-vite-project:latest
